# Node modules
node_modules/

# Build output
dist/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# IDE-specific files
.vscode/
.idea/

# Cache
.cache/

# Dependency directories
.pnp/
.pnp.js

# ESLint cache
.eslintcache

# Coverage directory used by testing tools
coverage/
